.unity__features__container__feature {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  margin: 1rem;
}

.unity__features__container__feature__title {
  flex: 1;
  max-width: 180px;
  margin-right: 2rem;
}

.unity__features__container__feature__title h1 {
  font-family: var(--font-family);
  color: var(--color-header);
  font-weight: 800;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.unity__features__container__feature__title div {
  width: 38px;
  height: 3px;
  background: var(--gradient-bar);
  margin-bottom: 0.25rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.25rem;
}

.unity__features__container__feature__text {
  flex: 2;
  max-width: 390px;
  display: flex;
}

.unity__features__container__feature__text p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-text);
}

@media screen and (max-width: 550px) {
  .unity__features__container__feature__title h1 {
    font-size: 14px;
    line-height: 22px;
  }

  .unity__features__container__feature__text p {
    font-size: 12px;
    line-height: 20px;
  }

  .unity__features__container__feature {
    margin: 1rem 0;
  }
}
