.unity__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
}

.unity__navbar__links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.unity__navbar__links__logo {
  margin-right: 2rem;
}

.unity__navbar__links__logo img {
  width: 90px;
  height: auto;
}

.unity__navbar__links__container {
  display: flex;
  flex-direction: row;
}

.unity__navbar__sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.unity__navbar__links__container p,
.unity__navbar__menu__container p {
  color: var(--color-text);
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 25px;
  font-size: 18px;
  text-transform: capitalize;
  margin: 0 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.unity__navbar__links__container p:hover,
.unity__navbar__menu__container p:hover {
  color: var(--color-text);
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 25px;
  font-size: 18px;
  text-transform: capitalize;
  margin: 0 1rem;
  cursor: pointer;
  transform: scale(1.1);
}

.unity__navbar__sign p {
  color: var(--color-text);
  font-family: var(--font-family);
  font-weight: bold;
  line-height: 25px;
  font-size: 18px;
  text-transform: capitalize;
  margin: 0 1rem;
  cursor: pointer;
}

.unity__navbar__sign button,
.unity__navbar__menu__container button {
  background: var(--color-text);
  color: var(--color-bg);
  border-top-left-radius: 40px;
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  min-width: 150px;
  transition: all 0.2s ease-in-out;
}

.unity__navbar__sign button:hover,
.unity__navbar__menu__container button:hover {
  transform: scale(1.1);
}

.unity__navbar__menu {
  margin-left: 2rem;
  display: none;
  position: relative;
}

.unity__navbar__menu svg {
  cursor: pointer;
}

.unity__navbar__menu__container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  background: var(--color-footer);
  padding: 2rem;
  position: absolute;
  right: 0;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.unity__navbar__menu__container p {
  margin: 1rem 0;
}

.unity__navbar__menu__links__container__sign {
  display: none;
}

@media screen and (max-width: 1050px) {
  .unity__navbar__links__container {
    display: none;
  }

  .unity__navbar__menu {
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  .unity__navbar {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  .unity__navbar {
    padding: 2rem;
  }

  .unity__navbar__sign {
    display: none;
  }

  .unity__navbar__menu__container {
    top: 20px;
  }

  .unity__navbar__menu__links__container__sign {
    display: block;
  }
}
