@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: Sora, sans-serif;

  --gradient-text: linear-gradient(89.97deg, #ffffff 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ffffff -13.86%, #f49867 99.55%);
  --bg-button: #fefbfb;

  --color-bg: #080307;
  --color-footer: rgb(21, 10, 13);
  --color-text: #fefbfb;
  --color-header: #f5f0e0;
  --color-subtext: #ff8a71;
}
